/*  font-family: "Damion", cursive;*/

body {
  font-family: "Damion", cursive;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}

/* container
======================
*/

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/* header
======================
*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 150px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 15px;
}

/* nav
======================
*/

.nav {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  padding: 7px;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  background-color: #643a79;
  border-radius: 5px;
  opacity: 1;
}

/* intro
======================
*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 596px;
  padding-top: 150px;
  background: #87509c url(../img/Bg1.jpg) center / cover;
}

.intro__inner {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  margin: 0 0 60px;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
}

/* Button
======================
*/

.btn {
  display: inline-block;
  font-family: inherit;
  vertical-align: top;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  transition: background 0.1s linear;
}

.btn--orange {
  padding: 28px 80px 24px;
  background-color: #eb7d4b;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #c86a40;
}

.btn--orange:hover {
  background-color: #c7531d;
  box-shadow: 5px 5px 0px #cfbcb2;
}
